.inputContainer {
  border-radius: 24px;
  border: 1px solid var(--gray-dark);
  width: 100%;
  max-width: 40rem;
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
}

.inputContainer:hover {
  box-shadow:
    2px 2px 2px var(--gray-dark),
    -2px -2px 2px var(--gray);
}

.inputContainer input {
  border: none;
  outline: none;
  height: 30px;
  font-size: 1rem;
  width: 100%;
  margin: 0 0.7rem;
}

.inputContainer button,
.inputContainer button:hover {
  all: unset;
  cursor: pointer;
  display: flex;
}
