:root {
  box-sizing: border-box;
  --gray-light: #f9f9f9;
  --gray: #f1f1f1;
  --gray-dark: #d6d6d6;
  --gray-darker: #b8b8b8;
  --gray-even-darker: #464646;
  --black: #000;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: var(--gray-even-darker);
}

img {
  max-width: 100%;
}

@media (max-width: 320px) {
  html {
    font-size: 85%;
  }
}
