.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.googleInfos {
  display: none;
}

.googleAccountImage {
  border-radius: 100%;
}

/* Tablet */
@media (min-width: 768px) {
  .googleInfos {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
